@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import 'assets/fonts/Areal.css';

* {
	font-family: 'ArealRNIDS', sans-serif;
	font-feature-settings: 'kern';
	color: #000;
	outline: none;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.clearfix {
    zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}
.clearfix:after {
    clear: both;
}

body { 
	background-color: #fff;
}

.title {
	font-size: 24px;
	margin: 0 0 20px 0;
}
.title__emphasis {
	color: tomato;
}
.subtitle {
	font-size: 20px;
	margin: 0 0 20px 0;
}

.text {
	margin: 0 0 20px 0;
}
.text:last-child {
	margin-bottom: 0;
}

.form__row {
	display: flex;
	margin: 0 -10px;
}
.form__column {
	flex: 1;
	padding: 0 10px;
}
.form__column--half {
	max-width: 50%;
}
.form__column--quarter {
	max-width: 25%;
}
.form__column--double {
	flex: 2;
}
.form__column:last-child {
	margin-right: 0;
}
.form__group {
	margin-bottom: 20px;
}
.form__group--right {
	text-align: right;
}
.form__label {
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 5px;
	color: #666;
	display: block;
}
.form__input {
	display: block;
	width: 100%;
	padding: 10px;
	font-size: 14px;
	border: 1px solid #ddd;
}
.form__input:focus {
	border: 1px solid #999;
}
.form__select {
	display: block;
	width: 100%;
	padding: 10px;
	font-size: 14px;
	border: 1px solid #ddd;
}
.form__select:focus {
	border: 1px solid #999;
}
.form__total {
	line-height: 38px;
	font-weight: bold;
	font-size: 24px;
}
.form__button {
	background: tomato;
	color: #fff;
	padding: 10px;
	border: 0;
	font-size: 18px;
	cursor: pointer;
}
.form__button:disabled {
	opacity: 0.25;
}
